main > header {
    display: none;
}

main > footer {
    display: none;
}

main section {
  background-color: whitesmoke;
  border: 0;
  font-size: large;
  height: 90vh;
  outline: none;
  width: 99.75vw;
}
